@charset "UTF-8";
body {
  background: #E6F5F4;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto; }

.page-title {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  padding: 72px 0 40px 0;
  color: #009688; }
  @media (max-width: 767.9px) {
    .page-title {
      font-size: 32px; } }
  @media (max-width: 319.9px) {
    .page-title {
      font-size: 28px; } }

@media (max-width: 767.9px) {
  .sl.sl-desktop {
    display: none; } }

@media (max-width: 319.9px) {
  .sl.sl-desktop {
    display: none; } }

.sl.sl-tablet {
  display: block; }
  @media (min-width: 767.9px) {
    .sl.sl-tablet {
      display: none; } }
  @media (max-width: 319.9px) {
    .sl.sl-tablet {
      display: none; } }

.sl.sl-mobile {
  display: none; }
  @media (max-width: 319.9px) {
    .sl.sl-mobile {
      display: block; } }

.sl-slide {
  width: 352px;
  height: 352px;
  margin-left: 16px;
  position: relative; }
  @media (max-width: 767.9px) {
    .sl-slide {
      height: 328px; } }
  @media (max-width: 319.9px) {
    .sl-slide {
      height: 244px; } }
  @media (max-width: 319.9px) {
    .sl-slide {
      margin-left: 8px;
      margin-right: 8px; } }
  .sl-slide:before {
    content: '';
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: -16px;
    left: 16px;
    width: 320px;
    height: 100%;
    background: #00645B;
    opacity: 0.3;
    filter: blur(10px);
    border-radius: 8px;
    z-index: -1; }
    @media (max-width: 767.9px) {
      .sl-slide:before {
        width: 296px; } }
    @media (max-width: 319.9px) {
      .sl-slide:before {
        width: 212px; } }
  .sl-slide__link .sl-slide__img {
    height: 100%;
    border-radius: 8px;
    background-size: cover !important; }
    .sl-slide__link .sl-slide__img_turquoise {
      background: #5ECABF; }
    .sl-slide__link .sl-slide__img_green {
      background: #009688; }
    .sl-slide__link .sl-slide__img_orange {
      background: #EE7E4A; }
    .sl-slide__link .sl-slide__img-ellipse {
      background-image: url(./assets/images/ellipse.png); }
    .sl-slide__link .sl-slide__img-line_v {
      background-image: url(./assets/images/line_v.png); }
    .sl-slide__link .sl-slide__img-line_h {
      background-image: url(./assets/images/line_h.png); }
  .sl-slide__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #fff;
    padding: 49px 32px 32px 32px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 8px 8px; }
    @media (max-width: 319.9px) {
      .sl-slide__text {
        font-size: 18px; } }

.sl-slide__img {
  height: 100%;
  border-radius: 8px;
  background-size: cover !important; }
  .sl-slide__img_turquoise {
    background: #5ECABF; }
  .sl-slide__img_green {
    background: #009688; }
  .sl-slide__img_orange {
    background: #EE7E4A; }
  .sl-slide__img-ellipse {
    background-image: url(./assets/images/ellipse.png); }
  .sl-slide__img-line_v {
    background-image: url(./assets/images/line_v.png); }
  .sl-slide__img-line_h {
    background-image: url(./assets/images/line_h.png); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("/node_modules/slick-carousel/slick/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("/node_modules/slick-carousel/slick/fontsslick.eot");
  src: url("/node_modules/slick-carousel/slick/fontsslick.eot?#iefix") format("embedded-opentype"), url("/node_modules/slick-carousel/slick/fontsslick.woff") format("woff"), url("/node_modules/slick-carousel/slick/fontsslick.ttf") format("truetype"), url("/node_modules/slick-carousel/slick/fontsslick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    color: transparent;
    opacity: 1; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: black;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: ""; }
    [dir="rtl"] .slick-prev:before {
      content: ""; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ""; }
    [dir="rtl"] .slick-next:before {
      content: ""; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 6px;
    width: 6px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\2022";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

* {
  box-sizing: border-box; }

html {
  font-size: 20px;
  font-family: sans-serif; }

ul, ol, h1, h2, h3, h4, h5, hr, p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.slick-slide div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end; }

.slick-slide > div {
  margin-bottom: 32px; }

.slick-prev {
  background-image: url(./assets/images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  left: calc(50% - 140px);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
      transform: matrix(-1, 0, 0, 1, 0, 0); }

.slick-prev,
.slick-next {
  width: 48px;
  height: 48px;
  border: 2px solid #009688;
  border-radius: 50%;
  bottom: -20px;
  z-index: 1;
  opacity: 0.25;
  transition: opacity .6s; }

.slick-next {
  background-image: url(./assets/images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  right: calc(50% - 140px); }

.slick-dots li {
  background: #009688;
  opacity: 0.25;
  border-radius: 50%;
  transition: opacity .6s; }

.slick-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .slick-dots .slick-active {
    width: 10px !important;
    height: 10px !important;
    opacity: 1 !important; }
